.link {
  text-decoration: none;
  color: var(--color-grey);
}

.link:visted {
  color: inherit;
}

.link .link__svg {
  stroke: var(--color-grey);
}

.link--selected {
  font-weight: bold;
  color: var(--color-blue);
}

.link--selected .link__svg {
  stroke: var(--color-blue);
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background:rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(16px);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
}