:root {
  --color-blue: #1B3CEA;
  --color-grey: #1F2933;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* GLOBAL HELPERS */
.text-left {
  text-align: left;
}

.content {
  padding: 0 1rem;
}

.font-weight-regular {
  font-weight: 400;
}


