.image-viewer-wrapper {
    position: relative;
    background: black;
}

.image-viewer {
    display: grid;
    width: 100%;
    height: calc(100vh - 88px);
    grid-template-rows: 1fr auto;
}

.image-viewer__photo {
    grid-row: 1 / span 1;
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.image-viewer__details {
    background:white;
    padding: 0 1rem;
}

.image-viewer__detail { 
    display: flex;
    grid-row: 2 / span 1;
    flex-direction: column;
}